/* Core styles for the page */
body {
   margin: 0;
   padding: 0;
   background-color: #EAECEE;
   font-family: Verdana, sans-serif;
   font-size: 0.9em;
}

#container {
   margin: 0 auto;
   border: 1px solid #666666;
   width: 940px; /* subtract 40px from banner width for padding */
   background: #FFFFFF url(../img/banner.png) top center no-repeat;
   background-size: 940px;
   padding-top: 110px;
}

section {
   float: left;
   width: 555px;
   margin: 20px;
}

aside {
   font-size: 0.9em;
   width: 220px;
   float: left;
   margin: 20px 0px;
   border: 1px solid #666666;
   background: #EAECEE;
   padding: 20px;
}

aside ul {
   padding-left: 30px;
}

footer {
   clear: both;
   text-align: center;
   color: #666666;
   font-size: 0.85em;
}

code {
   font-size: 0.9em;
}

a {
   color: #369;
   text-decoration: none;
}

a:hover {
   color: #369;
   text-decoration: underline;
}

/* Member registration styles */
span.invalid {
   padding-left: 3px;
   color: red;
}

label {
   float: left;
   width: 15%;
   margin-left: 20px;
   margin-right: 0.5em;
   padding-top: 0.2em;
   text-align: right;
   font-weight: bold;
}

#register {
   float: left;
   margin-left: 85px;
}

.booking-status-header {
    padding-bottom: 17px;
    margin: 18px 20px 0px 20px;
    border-bottom: 1px solid #eeeeee;
}

.show-status {
    width: 500px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #f5f5f5;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.show-status-header {
    border-bottom: 2px solid #eeeeee;
}

.performance-status {
	margin-top: 5px;
    margin-right: 5px;
}

.performance-status-progress-sold {
	margin-left: 5px; 
	height: 18px;
	background: #cc0000;
}

.performance-status-progress-available {
	margin-right: 5px;
    height: 18px;
    background: #009900;
}