*~
target
.DS_Store
.faces-config.xml.faceside
.faces-config.xml.jsfdia
MANIFEST.MF
bin
.openshift
*/.gitignore
/helloworld-jsp
CONTRIBUTING.html
.errai
demo/src/main/gwt-unitCache
demo/src/main/webapp/BookingMonitor
demo/src/main/webapp/WEB-INF/deploy
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.classpath
.project
.settings
.metadata
bin
.nbattrs
*.log
.clover
*.swp
_site
_tmp
classes
.forge_settings
