<header ng-switch on="$location.path().indexOf('/Tickets/new') > -1">
    <h3 ng-switch-when="true">Create Ticket</h3>
    <h3 ng-switch-when="false">View or edit Ticket</h3>
</header>
<form id="TicketForm" name="TicketForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: TicketForm.ticketCategory.$invalid}">
        <label for="ticketCategory" class="control-label">Ticket Category</label>
        <div id="ticketCategoryControls" class="controls">
        <select id="ticketCategory" name="ticketCategory" ng-model="ticketCategorySelection" ng-options="t.text for t in ticketCategorySelectionList" required >
            <option value="">Choose a Ticket Category</option>
        </select>
        <span class="help-inline" ng-show="TicketForm.ticketCategory.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: TicketForm.price.$invalid}">
        <label for="price" class="control-label">Price</label>
        <div id="priceControls" class="controls">
            <input id="price" name="price" type="number" ng-model="ticket.price" placeholder="Enter the Ticket Price"></input>
            <span class="help-inline" ng-show="TicketForm.price.$error.number">not a number</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: TicketForm.seat.section.$invalid}">
        <label for="seat.section" class="control-label">Section</label>
        <div id="seat.sectionControls" class="controls">
        <select id="seat.section" name="seat.section" ng-model="seatsectionSelection" ng-options="s.text for s in seatsectionSelectionList"  >
            <option value="">Choose a Section</option>
        </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: TicketForm.seat.rowNumber.$invalid}">
        <label for="seat.rowNumber" class="control-label">Row Number</label>
        <div id="seat.rowNumberControls" class="controls">
            <input id="seat.rowNumber" name="seat.rowNumber" type="number" min="1" ng-model="ticket.seat.rowNumber" placeholder="Enter the Ticket Row Number"></input>
            <span class="help-inline" ng-show="TicketForm.seat.rowNumber.$error.number">not a number</span>
            <span class="help-inline" ng-show="TicketForm.seat.rowNumber.$error.min">minimum allowed is 1</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: TicketForm.seat.number.$invalid}">
        <label for="seat.number" class="control-label">Number</label>
        <div id="seat.numberControls" class="controls">
            <input id="seat.number" name="seat.number" type="number" min="1" ng-model="ticket.seat.number" placeholder="Enter the Ticket Number"></input>
            <span class="help-inline" ng-show="TicketForm.seat.number.$error.number">not a number</span>
            <span class="help-inline" ng-show="TicketForm.seat.number.$error.min">minimum allowed is 1</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveTicket" name="saveTicket" class="btn btn-primary" ng-disabled="isClean() || TicketForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteTicket" name="deleteTicket" class="btn btn-danger" ng-show="ticket.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>