<div class="container well">
    <div class="hero-unit">
        <h1 class="special-title">TicketMonster. A JBoss Example</h1>

        <p>TicketMonster is an online ticketing application that gets you started with
            JBoss technologies.</p>

        <p><a class="btn btn-primary" href="#events">Buy tickets now!</a></p>
    </div>
    <div class="row">

        <div class="span4">
            <img src="resources/img/jdf_mark_100px.png" style="float: left;"/>

            <h3 class="page-header">Built with JDF</h3>

                <p>TicketMonster's architecture uses the best of the JBoss
                    Developer Framework. Learn how easy it is to harness the power of vanilla
                    Java EE,
                    with a choice of three different UI frameworks: HTML5 and JavaScript,
                    Richfaces/JSF and GWT/Errai.</p>

        </div>

        <div class="span4">
            <div class="">
                <h3 class="page-header">Mobile-ready</h3>

                <p>When you interact with TicketMonster from a mobile device, you will get
                    a mobile-specific interface. Learn how easy it is to write applications that
                    can
                    accommodate desktop and mobile clients.</p>
            </div>
        </div>

        <div class="span4">
            <div class="">
                <h3 class="page-header">Cloud-ready</h3>

                <p>A deployment of TicketMonster runs continuously on the OpenShift platform.
                    Learn how easy it is to write applications that can deploy locally and in
                    the cloud.</p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="span4">
            <div class="">
                <h3 class="page-header">On GitHub</h3>

                <p>TODO</p>
            </div>
        </div>

        <div class="span4">
            <div class="">
                <h3 class="page-header">Follow our steps</h3>

                <p>TODO</p>
            </div>
        </div>

        <div class="span4">
            <div class="">
                <h3 class="page-header">Go on your own</h3>

                <p>TODO</p>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<h5>Java EE 6</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<img src="http://design.jboss.org/aerogear/logo/final/aerogear_icon_64px.png" alt="">-->
                <!--<h5>Aerogear</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_icon_64px.png" alt="">-->
                <!--<h5>Richfaces</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<img src="http://design.jboss.org/errai/logo/final/errai_logo_100px.gif" alt="">-->
                <!--<h5>Errai</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<img src="http://design.jboss.org/jbossforge/logo/final/jbossforge_icon_64px.png" alt="">-->
                <!--<h5>Forge</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<img src="http://design.jboss.org/arquillian/logo/final/arquillian_icon_64px.png" alt="">-->
                <!--<h5>Arquillian</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>
