<div class="container well">
    <div class="hero-unit">
        <h1 class="special-title">TicketMonster. A JBoss Example.</h1>

        <p>
            TicketMonster is an online ticketing demo application that gets you started with
            JBoss technologies, helping you to learn and evaluate them.
        </p>

        <p><a class="btn btn-primary" href="#events">Buy tickets now</a></p>
    </div>
    <div class="row">

        <div class="span4">

            <h3 class="page-header">
            Built with  <img src="resources/img/jdf_mark_50px.png" align="bottom"/>
            </h3>
                <p>TicketMonster's architecture uses the best technologies that make up JBoss
                    Developer Framework. Learn how easy it is to harness the power of
                    Java EE behind a choice of three different UI frameworks: HTML5/JavaScript (POH5),
                    Richfaces/JSF and GWT/Errai.</p>

        </div>

        <div class="span4">
            <div class="">
                <h3 class="page-header">Mobile-ready</h3>

                <p>When you interact with TicketMonster on a mobile device, you will get
                    a mobile-specific interface. Learn how easy it is to write Java EE applications that
                    can
                    accommodate desktop and mobile clients.</p>
            </div>
        </div>

        <div class="span4">
            <div class="">
                <h3 class="page-header">Cloud-ready</h3>

                <p>A deployment of TicketMonster runs continuously on the OpenShift platform.
                    Learn how easy it is to write Java EE applications that can deploy both locally and in
                    the cloud.</p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="span4">
            <div class="">
                <h3 class="page-header">Fork it on GitHub</h3>

                <p>TicketMonster is available on GitHub. Within a click,
                you can get the source code, build and run it!</p>
            </div>
        </div>

        <div class="span4">
            <div class="">
                <h3 class="page-header">Follow our steps</h3>

                <p>TicketMonster is accompanied by a tutorial that
                walks your through the application architecture. Read it to learn
                how the application is built or you can even build it yourself
                following our instructions</p>
            </div>
        </div>

        <div class="span4">
            <div class="">
                <h3 class="page-header">Customize</h3>

                <p>TicketMonster an example tha you can follow, but you
                can also use the predefined application structure to implement your
                 own use cases and test your ideas, and to contribute back to the community.
                </p>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<h5>Java EE 6</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<img src="http://design.jboss.org/aerogear/logo/final/aerogear_icon_64px.png" alt="">-->
                <!--<h5>Aerogear</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<img src="http://design.jboss.org/richfaces/logo/final_logo/richfaces_icon_64px.png" alt="">-->
                <!--<h5>Richfaces</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<img src="http://design.jboss.org/errai/logo/final/errai_logo_100px.gif" alt="">-->
                <!--<h5>Errai</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<img src="http://design.jboss.org/jbossforge/logo/final/jbossforge_icon_64px.png" alt="">-->
                <!--<h5>Forge</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="span2">-->
            <!--<div class="well">-->
                <!--<img src="http://design.jboss.org/arquillian/logo/final/arquillian_icon_64px.png" alt="">-->
                <!--<h5>Arquillian</h5>-->
                <!--<p>Thumbnail caption right here...</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>
