<!--
    The main layout of the page - contains the menu and the 'content' &lt;div/&gt; in which all the
    views will render the content.
-->
<div id="logo"><div class="wrap"><h1>Ticket Monster</h1></div></div>
<div id="container">
    <div id="menu">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="#about">About</a></li>
                        <li><a href="#events">Events</a></li>
                        <li><a href="#venues">Venues</a></li>
                        <li><a href="#bookings">Bookings</a></li>
                        <li><a href="#monitor">Monitor</a></li>
                        <li><a href="admin">Administration</a></li>
                    </ul>
                    <script type="text/javascript">
                      //<![CDATA[
                        function get_results(event)
                        {
                            event.preventDefault();
                            if (document.searchbox.local.checked && navigator.geolocation)
                            {
                                options = {
                                    maximumAge: 6000000 // milliseconds (100 minutes)
                                }
                                navigator.geolocation.getCurrentPosition(handlePosition, handleError, options);
                                return false;
                            }
                            else {
                                return queryAnywhere();
                            }
                            function handlePosition(pos)
                            {
                                return queryLocal(pos.coords);
                            }
                            function handleError(error)
                            {
                                return queryAnywhere();
                            }
                        }
                        function queryAnywhere()
                        {
                            location.href = "#search/anywhere/" + escape(document.searchbox.query.value);
                            return false;
                        }
                        function queryLocal(coords)
                        {
                            location.href = "#search/around/" + coords.latitude + '/' + coords.longitude + '/' + escape(document.searchbox.query.value);
                            return false;
                        }
                      //]]>
                    </script>
                    <form id="searchbox" name="searchbox" class="navbar-search pull-right" onsubmit="return get_results(event)">
                        <input id="query" name="query" class="search-query" type="text" placeholder="Search"/>
                        <input name="local" type="checkbox">around me</input>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container-fluid">
    </div>
</div>

<footer style="">
    <div style="text-align: center;"><img src="resources/img/dualbrand_as7eap.png" alt="HTML5"/></div>
</footer>
