<header ng-switch on="$location.path().indexOf('/TicketCategorys/new') > -1">
    <h3 ng-switch-when="true">Create TicketCategory</h3>
    <h3 ng-switch-when="false">View or edit TicketCategory</h3>
</header>
<form id="TicketCategoryForm" name="TicketCategoryForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: TicketCategoryForm.description.$invalid}">
        <label for="description" class="control-label">Description</label>
        <div id="descriptionControls" class="controls">
            <input id="description" name="description" type="text" ng-model="ticketCategory.description" placeholder="Enter the TicketCategory Description"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveTicketCategory" name="saveTicketCategory" class="btn btn-primary" ng-disabled="isClean() || TicketCategoryForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteTicketCategory" name="deleteTicketCategory" class="btn btn-danger" ng-show="ticketCategory.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>